name: Build
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "43 17 * * 0"
    
jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - name: Setup bazel
        uses: abhinavsingh/setup-bazel@v3
        with:
          version: 4.0.0
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: "bazel build //..."
