name: Integration
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "43 18 * * 0"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: abhinavsingh/setup-bazel@v3
        with:
          version: 6.4.0
      - name: Checkout
        uses: actions/checkout@v2
      - name: Integration
        run: "cd integration && bazel test //..."
